body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chart-type-selector .dropdown-item {
	padding: .5rem 1.5rem;
	border-bottom: 1px solid #ccc;
}
.chart-type-selector .dropdown-item:last-child {
	border-bottom: none;
}
.chart-type-selector .dropdown-item:hover {
	background: #343a40;
	color: white;
}
.chart-type-selector .dropdown-item svg {
	margin-right: 12px;
}

.color-picker {
    padding: 0.5rem;
    background: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 2rem;
    width: 5rem;
}

.navbar a {
  color: rgba(255, 255, 255, 0.5);
}

.navbar a:hover {
  color: white;
  text-decoration: none;
}